<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Cable Game</title>
         <script type="text/javascript" src="../../static/js/phaser.min.js"></script>
    </head>
    <body>

     <form name="cablegame" method="post">

         {#phaser game#}
         <script type="text/javascript">
             // create game scene
             var config = {
                type: Phaser.AUTO,
                width: 800,
                height: 600,
                physics: {
                    default: 'arcade',
                    arcade: {
                        gravity: { y: 0 }
                    }
                },
            scene: {
                preload: preload,
                create: create
            }
        };

        var game = new Phaser.Game(config);

        var line;
        var lineActive = false;
        var lines = [];
        var firstSelected = null;
        var completedNodes = [];
        var reset = false;
        var images=[];

        // load images to use in create
        function preload ()
        {
            this.load.image('background',"{% static "images/background.jpg" %}")
            this.load.image('questioncable1','{% static "images/QuestionCable.png" %}')
            this.load.image('questioncable2','{% static "images/QuestionCable.png" %}')
            this.load.image('questioncable3','{% static "images/QuestionCable.png" %}')
            this.load.image('answercable1','{% static "images/AnswerCable.png" %}')
            this.load.image('answercable2','{% static "images/AnswerCable.png" %}')
            this.load.image('answercable3','{% static "images/AnswerCable.png" %}')
        }

        //create main game
        function create ()
        {


            var main = this;

            //create background image
            var bg = this.add.image(400, 300, 'background').setInteractive();

            //array of all images and their matches
            images = [
                this.add.image(95, 250, 'questioncable1').setInteractive({useHandCursor: true}).setData('match', 'answercable1').setData('name', 'questioncable1'),
                this.add.image(95, 100, 'questioncable2').setInteractive({useHandCursor: true}).setData('match', 'answercable2').setData('name', 'questioncable2'),
                this.add.image(95, 400, 'questioncable3').setInteractive({useHandCursor: true}).setData('match', 'answercable3').setData('name', 'questioncable3'),
                this.add.image(704, 100, 'answercable1').setInteractive({useHandCursor: true}).setData('match', 'questioncable1').setData('name', 'answercable1'),
                this.add.image(704, 250, 'answercable2').setInteractive({useHandCursor: true}).setData('match', 'questioncable2').setData('name', 'answercable2'),
                this.add.image(704, 400, 'answercable3').setInteractive({useHandCursor: true}).setData('match', 'questioncable3').setData('name', 'answercable3'),
            ];

            //implementing listeners for all images in array
            images.forEach(function(image) {
                image.on('pointerdown', function (pointer) {
                    //set tint for when image is clicked
                    this.setTint(0x888888);


                    // if an object is already selected
                    if(lineActive === true ) {
                        main.input.removeListener('pointermove');
                        // if images match
                        if(image.getData('name') === firstSelected.getData('match')) {
                            // line coordinates
                            line.setTo(firstSelected.x, firstSelected.y, image.x, image.y);
                            // add image successful set to completed Nodes array
                            completedNodes.push(firstSelected.getData('name'));
                            completedNodes.push(image.getData('name'));
                            // add successful line to lines array
                            lines.push(line);

                            lineActive = false;
                            image.setData('selected', true);
                            firstSelected = null;
                        } else {
                            line.destroy();
                            lineActive = false;
                            firstSelected = null;
                            reset = true;
                        }
                    }

                     // if nothing is being selected yet
                    if(lineActive === false && !image.getData('selected') && !reset) {
                        // Make sure it's not one that's already been completed
                        if(!completedNodes.includes(image.getData('name'))) {
                            // create line in those coordinates
                            line = main.add.line(0, 0, image.x, image.y, pointer.x, pointer.y, 0xd50102).setOrigin(0, 0);
                            // set line's width
                            line.setLineWidth(1);
                            // line follows cursor
                            main.input.on('pointermove', function (pointer, gameObject) {
                                line.setTo(image.x, image.y, pointer.x, pointer.y);
                            });
                            lineActive = true;
                            image.setData('selected', true);
                            firstSelected = image;
                        }
                    }

                    // Unselect any failed attempts
                    image.setData('selected',false);
                    reset = false;
                })

                //clear tint
                image.on('pointerout', function (pointer) {
                    this.clearTint();
                });
                //clear tint
                image.on('pointerup', function (pointer) {
                    this.clearTint();
                });
            });


            // Clicking the background causes the current line to disappear and reset related objects/images
            bg.on('pointerdown',function(pointer) {
                if(lineActive) {
                    if(line) {
                        line.destroy();
                        main.input.removeListener('pointermove');
                    }
                    lineActive = false;
                    firstSelected.setData('selected',false);
                    firstSelected = null;
                    reset = false;
                }
            });
        }
         </script>

         </form>
    </body>
</html>