#board{
  float:center;
  padding: 10px;
}


#grid{
  float:left;
  margin: auto;
  text-align: center;
  background-color: #C4C4C4;
  width: 20%;
  border: 3px solid purple;
  padding: 10px;
}
#question{
  background-color:grey;
  float:left;
  margin: auto;
  text-align: center;
  width: 20%;
  padding: 66px 0;
  color:white;


}
#answers{
  background-color:grey;
  float:left;
  margin: auto;
  color:white;
  text-align: center;
  width: 20%;

}
#answer1{
  float:top;
  text-align: center;

}

#answer2{
  float:top;
  text-align: center;
  padding: 5px 0;

}
#answer3{
  float:bottom;
  text-align: center;

}

.pipe{
    font-size: 0px;
    background-color: #C4C4C4;
    display: inline-block;


    width: 28px;
    height: 28px;
    box-sizing: content-box;

    background-repeat: no-repeat;
    background-position: center;
}

/* end points */

.u {
    background-image: url("images/end.png");
    transform: rotate(180deg);
}

.u.a{
    background-image: url("images/activated_end.png");
}

.d {
    background-image: url("images/end.png");
    transform: rotate(0deg);
}

.d.a{
    background-image: url("images/activated_end.png");
}

.r {
    background-image: url("images/end.png");
    transform: rotate(270deg);
}

.r.a{
    background-image: url("images/activated_end.png");
}

.l{
    background-image: url("images/end.png");
    transform: rotate(90deg);
}

.l.a{
    background-image: url("images/activated_end.png");
}

/* straight */
.u.d{
    background-image: url("images/straight.png");
}

.u.d.a{
    background-image: url("images/activated_straight.png");
}

.l.r{
    background-image: url("images/straight.png");
    transform: rotate(90deg);
}

.l.r.a{
    background-image: url("images/activated_straight.png");
}

/* Corners */
.u.r{
    background-image: url("images/corner.png");
    transform: rotate(0deg);
}

.u.r.a{
    background-image: url("images/activated_corner.png");
}

.u.l{
    background-image: url("images/corner.png");
    transform: rotate(270deg);
}

.u.l.a{
    background-image: url("images/activated_corner.png");
}

.d.r{
    background-image: url("images/corner.png");
    transform: rotate(90deg);
}

.d.r.a{
    background-image: url("images/activated_corner.png");
}

.d.l{
    background-image: url("images/corner.png");
    transform: rotate(180deg);
}

.d.l.a{
    background-image: url("images/activated_corner.png");
}

/* T split */
.u.r.l{
    background-image: url("images/tsplit.png");
    transform: rotate(270deg);
}

.u.r.l.a{
    background-image: url("images/activated_tsplit.png");
}

.r.d.l{
    background-image: url("images/tsplit.png");
    transform: rotate(90deg);
}

.r.d.l.a{
    background-image: url("images/activated_tsplit.png");
}

.d.l.u{
    background-image: url("images/tsplit.png");
    transform: rotate(180deg);
}

.d.l.u.a{
    background-image: url("images/activated_tsplit.png");
}

.u.r.d{
    background-image: url("images/tsplit.png");
    transform: rotate(0deg);
}

.u.r.d.a{
    background-image: url("images/activated_tsplit.png");
}

/* Cross */
.u.r.d.l{
    background-image: url("images/cross.png");
}

.u.r.d.l.a{
    background-image: url("images/activated_cross.png");
}