{% extends 'mainFDM/base.html' %}

{%block title%}Helper Register{%endblock%}


{%block header%}Please create your helper account{%endblock%}

<!-- row of for columns -->
{% block row1 %}
    <div class="col-auto form-col p-4 justify-content-center">
        <!-- helper login form title: -->
        <h3 class="form-title">Sign Up</h3>
        <!-- the form here -->

        {{ form.errors }}

        {%  for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}

        <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="form-label">{{ form.email.label_tag }}</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="form-label">{{ form.password1.label_tag }}</label>
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                <label class="form-label">{{ form.password2.label_tag }}</label>
                {{ form.password2 }}
            </div>
            <div class="d-flex pt-1 justify-content-center">
               <button type="submit" class="btn btn-grad btn-lg" id="form-btn" >Submit</button>
            </div>
        </form>
        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                Already have a helper account? <a href="/helper/login/" class="ms-4">Login</a>
            </div>
        </div>


    </div>
{% endblock %}

{% block lower %}{% endblock %}
