<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../static/css/stylesheet.css">
    </head>

        <div id="question">
        <h6> {{ question_1 }}</h6>
        </div>

        <div id="grid"></div>

        <script type="text/javascript" src="../../static/js/board.js"></script>
        <div id="answers" class="my_answers">
        <div class="answers">
        <h6 id="answer1"> </h6>
            </div>
        <div  class="answers">
        <h6 id="answer2"> </h6>
            </div>
        <div class="answers">
        <h6 id="answer3"> </h6>
            </div>
            </div><br>
    <div>
        <input  value="{{ question_1 }}" name="value" id='q1' type="hidden"/>
        <input  value="{{ answer_1 }}" name="value" id='a1' type="hidden"/>
        <input  value="{{ answer_2 }}" name="value" id='a2' type="hidden"/>
        <input  value="{{ answer_3 }}" name="value" id='a3' type="hidden"/>

    </div>

    <div id="timer"></div>
    <script>
        if (sessionStorage.getItem("computerResponse")==1){
            document.getElementById("answer1").innerHTML = "a1";
            document.getElementById("answer2").innerHTML = "a2";
            document.getElementById("answer3").innerHTML = "a3";
        }
        else if (sessionStorage.getItem("computerResponse")==2){
            document.getElementById("answer1").innerHTML = "a2";
            document.getElementById("answer2").innerHTML = "a1";
            document.getElementById("answer3").innerHTML = "a3";
        }
        else if (sessionStorage.getItem("computerResponse")==3){
            document.getElementById("answer1").innerHTML = "a3";
            document.getElementById("answer2").innerHTML = "a2";
            document.getElementById("answer3").innerHTML = "a1";
        }
    </script>






    </body>
</html>