{% autoescape off %}
Hi, {{ user.username }}!

You're receiving this email because someone recently requested a password reset for your helper account at {{ domain }}.

Please go to the following page if you want to proceed with the reset:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

In case of the above link not working, copy and paste the URL in a new browser window instead.

If you did not request to reset your password, please ignore this email.

Thank you for using our site!
The MyCareerPath Team
{% endautoescape %}