<!doctype html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainFDM/css/custom.css' %}">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Home Page for FDM project">
    <meta name="author" content="Iga">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>Home</title>

    <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/mainFDM/css/custom.css">
  </head>

  <body id="home">

    <header>
      <!-- fixed navbar -->
      <nav class="navbar navbar-expand-md fixed-top navbar-dark p-2">
        <div class="container-fluid">
          <a class="navbar-brand mx-5 my-1" href="/">
          <img src="/static/mainFDM/images/fdm-logo-2018.png" id="fdm_logo_header" alt="FDM logo">
          </a>
          </div>
        </nav>
      <!-- gradient bar below navbar -->
      <div class="gradient-bar" id="upper-bar"></div>
    </header>


    <!-- close the gap to the bottom of the page -->
    <footer class="footer py-0 py-sm-3 py-md-4 py-lg-4 py-xl-4 py-xxl-5 bg-dark">
      <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-7 col-sm-auto">HALLO</div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>
